body {
    background-color:rgb(11, 208, 235);
}
table {
    background-color:aqua;
}
.search-found {
    text-decoration: underline;
}

#git_crunk {
    margin-right: 4em;
    float: right;
    color: white;
}